/* TOP NAV BUTTON */
.topNavBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.topNavBtn:hover {
  background-color: var(--active-color);
}

/* NAVBAR DEKSTOP */
.navbar {
  background: white;
  font-family: var(--ff-nunito);
  position: sticky;
  z-index: 12;
  top: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.navbar:after {
  content: "";
  clear: both;
  display: table;
}
.navbar .logo {
  float: left;
  padding-left: 60px;
  padding-top: 12px;
}
.navbar .logo img {
  width: 180px;
}
.navbar ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
.navbar ul li {
  display: inline-block;
  background: white;
  margin: 0 5px;
}
.navbar ul li a {
  color: var(--black-color);
  line-height: 70px;
  text-decoration: none;
  border-radius: var(--border-radius);
  font-size: var(--ts-md);
  font-weight: 500;
  padding: 8px 15px;
  transition: all 250ms ease-in-out;
}
.navbar ul li a:hover,
.navbar ul li a:focus {
  outline: none;
  background-color: var(--light-color);
}
.navbar ul li a.current {
  outline: none;
  color: white;
  background-color: var(--primary-color);
}
.navbar ul li a.current #search-icon {
  color: white;
}
.navbar ul ul {
  position: absolute;
  top: 90px;
  border-top: 4px solid var(--active-color);
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
.navbar ul ul ul {
  border-top: none;
}
.navbar ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.navbar ul ul li {
  position: relative;
  margin: 0px;
  padding-left: 5px;
  width: 200px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.navbar ul ul li a {
  line-height: 50px;
}
.show,
.icon,
.input {
  display: none;
}
.fa-plus {
  font-size: var(--ts-md);
  margin-left: 40px;
}
#search-icon {
  padding-left: 8px;
  color: var(--dark-color);
}

/* IMAGE SLIDER DESKTOP */
.img-slider {
  position: relative;
  width: 100%;
  height: 450px;
  background: #1d212b;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  object-fit: cover;
  width: inherit;
  filter: brightness(0.5);
  height: 450px;
  border-radius: var(--border-radius);
}

.img-slider .slide .info {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 50vw;
  color: var(--light-color);
  padding: 1rem 2rem;
}

.img-slider .slide .info h1 {
  padding-top: 5px;
  font-size: var(--hs-md);
  font-family: var(--ff-monts);
}

.img-slider .slide .info p {
  margin: 1rem 0;
  font-size: var(--ts-md);
  font-weight: 300;
  font-family: var(--ff-nunito);
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .slide-nav-btn {
  background: #ffffffd5;
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .slide-nav-btn.active {
  background: var(--active-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* CARD LIST MOBILE*/
.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

/* FOOTER */
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 55px;
  color: var(--light-color);
  background: var(--black-color);
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25rem;
  margin-bottom: 1rem;
}

.footer-left img {
  width: 180px;
}
.footer h2 {
  font-weight: 600;
  font-size: var(--hs-vs);
  padding-bottom: 0.8rem;
  color: #f0f8ff;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  line-height: 2em;
  padding-bottom: 5px;
  font-size: var(--ts-sml);
}

.footer-right ul {
  padding-bottom: 25px;
}

.footer li a {
  transition: all 200ms ease-in-out;
  color: var(--light-color);
}

.footer li:hover > a {
  color: var(--primary-color);
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 100%;
}

.footer-bottom {
  text-align: center;
  color: var(--light-color);
  font-size: var(--ts-sml);
  background: var(--dark-color);
}

.footer-left p {
  padding-right: 20%;
}

.socials a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.socials a:nth-child(1):hover i {
  color: #3b5998;
}

.socials a:nth-child(2):hover i {
  color: var(--primary-color);
}

.socials a:nth-child(3):hover i {
  color: var(--tag-blue-color);
}

.socials a:nth-child(4):hover i {
  color: var(--tag-pink-color);
}

.socials a i {
  padding: 10px 12px;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}

/* SEARCH BAR */

.box-container {
  margin: auto;
  width: 300px;
  height: 42px;
  background: white;
  border: 4px solid var(--primary-color);
  padding: 0px 10px;
  border-radius: 50px;
}
.search-table {
  width: 100%;
  height: 100%;
}
.search-input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 5px;
  border-radius: 50px;
  font-size: var(--ts-md);
  color: var(--dark-color);
  font-weight: 500;
}
.search-input:focus {
  outline: none;
  border: none;
}

.filters {
  padding: 1rem;
  margin: auto;
  margin-top: 10px;
  border-radius: var(--border-radius);
  font-family: var(--ff-nunito);
  /* background-color: #fff; */
}

.filters div {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
}

.filters label {
  font-family: var(--ff-nunito);
  font-size: 0.95rem;
  padding-right: 10px;
  width: 80px;
  text-align: center;
}

.filters input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 2px var(--primary-color) solid;
  background: #fff;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.filters input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 12px;
  display: none;
  color: white;
}

.filters input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

.filters input[type="checkbox"]:checked::after {
  display: block;
}

.filters select,
.filters input {
  width: 200px;
  padding: 8px;
  font-family: var(--ff-nunito);
  border-radius: var(--border-radius);
  border: 3px solid var(--primary-color);
  outline: none;
}

form button {
  cursor: pointer;
}

/* ARTICLE SECTION */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1.5rem;
}
.page-container aside {
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-gap: 1.5rem;
}

.card1 {
  background: #fff;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.268);
}
.card1 img {
  height: 400px;
  width: 90%;
  margin-left: 5%;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.article-heading {
  font-family: var(--ff-robo);
  font-size: var(--hs-sml);
  font-weight: 600;
  color: var(--black-color);
  letter-spacing: -2px;
  padding: 5px 15px;
}

.article .meta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
  color: var(--black-color);
  font-size: var(--ts-sml);
  font-weight: 600;
  font-family: var(--ff-monts);
}

.article .meta i {
  color: black;
  padding: 10px;
}

.article .meta .tag {
  margin-top: 0.4rem;
}

.article .article-content {
  font-size: 1rem;
  padding: 15px 5px;
  font-family: var(--ff-nunito);
}

.article .article-content p:first-child::first-letter {
  float: left;
  font-size: 4rem;
  line-height: 3rem;
  color: var(--black-color);
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ASIDE CARD LIST */
.aside-title {
  color: var(--black-color);
  font-size: var(--ts-md);
  font-weight: 700;
  font-family: var(--ff-nunito);
  text-transform: uppercase;
  padding: 5px;
  text-decoration: underline;
}
.card2 {
  background: #fff;
  padding: 0.8rem;
  overflow: hidden;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.268);
  max-height: 650px;
}
.aside-card {
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 2px solid var(--light-color);
  margin-bottom: 5px;
}

.aside-card:hover .aside-card-title {
  text-decoration: underline;
  color: black !important;
}

.aside-card:hover .aside-card-img img {
  transform: scale(1.1);
}
.aside-card-img {
  padding: 0;
  height: 90px;
  width: 100px;
  overflow: hidden;
  margin-right: 8px;
}
.aside-card-img img {
  padding: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}

.aside-card-title {
  color: var(--black-color);
  font-family: var(--ff-robo);
  font-size: 0.8rem;
  transition: all 200ms ease-in-out;
}

.aside-card-author,
.aside-card-date {
  padding-top: 10px;
  color: var(--black-color);
  font-family: var(--ff-robo);
  font-size: 0.8rem;
  display: none;
}

/* LOGIN & SIGNUP FORMS */

.forms-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-align: center;
  padding: 1rem;
}

.form-title h4 {
  font-family: var(--ff-robo);
  font-size: var(--hs-sml);
  font-weight: 500;
  color: var(--dark-color);
}

.input-field {
  padding: 8px;
  height: 60px;
  width: 300px;
}

.input-field input,
.input-field textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-family: var(--ff-robo);
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 17px;
}

.input-field input:focus,
.input-field textarea:focus {
  border-color: var(--black-color);
}

.input-field input::placeholder,
.input-field textarea::placeholder {
  color: var(--dark-color);
}

.input-field input:focus::placeholder {
  color: var(--dark-color);
}

.input-field textarea {
  padding: 10px;
  padding-left: 15px;
}

.input-field button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  color: var(--light-color);
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  text-align: center;
  transition: all 200ms ease-in-out;
}

.input-field button:hover {
  color: var(--light-color);
  background-color: var(--active-color);
}

.form-errors {
  margin: 1.2rem 0;
}

.form-errors .errors {
  width: 75%;
  margin: auto;
  color: var(--primary-color);
}
