/* NUNITO SANS FONT FAMILY */
@font-face {
  font-family: "Nunito Sans";
  src: url(../../fonts/NunitoSans/NunitoSans-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../fonts/NunitoSans/NunitoSans-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../fonts/NunitoSans/NunitoSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../fonts/NunitoSans/NunitoSans-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../fonts/NunitoSans/NunitoSans-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../fonts/NunitoSans/NunitoSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../fonts/NunitoSans/NunitoSans-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(../../fonts/NunitoSans/NunitoSans-Black.ttf);
  font-style: normal;
  font-weight: 900;
}

/* NOTO SERIF FONT FAMILY */
@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-Medium.ttf);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Noto Serif";
  src: url(../../fonts/NotoSerif/NotoSerif-Black.ttf);
  font-style: normal;
  font-weight: 900;
}

/* MONSTSERRAT FONT FAMILY */
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-Light.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-LightItalic.otf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-Italic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-Medium.otf);
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-SemiBold.otf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-ExtraBold.otf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/Monserrat/Montserrat-Black.otf);
  font-style: normal;
  font-weight: 900;
}

/*  */

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto/Roboto-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
